
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_CustomerLayoutPage.cshtml";
}

<

<div class="container">
    <div class="row">
        <h1 class="col-sm-12 text-center"> Hello Customer! </h1>
        <h2 class="col-sm-12 text-center"> Welcome to Northwest Labs</h2>

    </div>
</div>