@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/NorthwestLabsStyleSheet.css" rel="stylesheet" />
<div class="jumbotron" id="mainjumbo">
        <div class="row">
            <h1 class="lead text-left col-sm-12">Northwest Labs</h1>
            @*<h2 class="col-sm-12" style="color:black">Schedule an assay today!</h2>*@
        </div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <a href="@Url.Action("Assays", "Home")"><button type="button" class="btn btn-secondary btn-lg">Assays</button></a>
    </div>
    <div class="col-md-4 text-center">
        <a href="@Url.Action("Catalog", "Home")"><button type="button" class="btn btn-secondary btn-lg">Catalog</button></a>
    </div>
    <div class="col-md-4 text-center">
        <a href="@Url.Action("About", "Home")"><button type="button" class="btn btn-secondary btn-lg">About Us</button></a>
    </div>
</div>

<br>
<br>
<br>
<br>

<div class="row">
    <h2>News</h2>
    <div class="col-md-4 text-center">
        <p>Genes, Early Environment Sculpt the Gut Microbiome</p>
        <img src="~/Content/gut-microbiome670-290x160.jpeg" />
    </div>
    <div class="col-md-4 text-center">
        <p>X-Rays Capture Unprecedented Images of Photosynthesis in Action</p>
        <img src="~/Content/photosynthesis-cropped.jpg" />
    </div>
    <div class="col-md-4 text-center">
        <p>New Discoveries in Celular Regeneration</p>
        <img src="~/Content/lbnf-dune-thumb.jpg" />
    </div>


            </div>