
@{
    ViewBag.Title = "Orderconfirmation";
    Layout = "~/Views/Shared/_CustomerLayoutPage.cshtml";
}

<h2>Order Confirmation</h2>

<div align="center">
    <h2>Thank you for completing your work order request.</h2>
    <h3>Your order number is: #293092</h3>

    <img class="img-responsive" src="http://wholesale.onchee.com/bmz_cache/a/a1c95c2d26c8e7bb8a4dc585d822e894.image.269x202.jpg" />

    <small>Please attach the printed barcode to your compounds before shipping</small>
    <br />
    <button type="button" class="btn btn-success">Print bar code</button>
</div>