
@{
    ViewBag.Title = "SeattleIndex";
    Layout = "~/Views/Shared/_SeattleLayoutPage.cshtml";
}

<link href="~/Content/NorthwestLabsStyleSheet.css" rel="stylesheet" />
<div class="jumbotron" id="seattlejumbo">
    <div class="row">
        <h1 class="lead text-left col-sm-12">Seattle</h1>
        @*<h2 class="col-sm-12" style="color:black">Schedule an assay today!</h2>*@
    </div>
</div>
