
@{
    ViewBag.Title = "SingaporeIndex";
    Layout = "~/Views/Shared/_SingaporeLayoutPage.cshtml";
}

<link href="~/Content/NorthwestLabsStyleSheet.css" rel="stylesheet" />
<div class="jumbotron" id="singaporejumbo">
    <div class="row">
        <h1 class="lead text-left col-sm-12">Singapore</h1>
        @*<h2 class="col-sm-12" style="color:black">Schedule an assay today!</h2>*@
    </div>
</div>