@{
    ViewBag.Title = "WorkOrder";
    Layout = "~/Views/Shared/_CustomerLayoutPage.cshtml";
}

<div class="container" id="existingworkorder">
    <h2>New Work Order</h2>
</div>

<br>
<link href="~/Content/NorthwestLabsStyleSheet.css" rel="stylesheet" />
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Compound name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter compound name">
        <small id="compoundname" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Number of compounds</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="# of compounds">
        <small id="compoundnumber" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>


    <div class="form-group">
        <label for="exampleSelect1">Test to be performed</label>
        <select class="form-control" id="exampleSelect1">
            <option>Biochemical Pharmacology (BP)</option>
            <option>DiscoveryScreen® (DS)</option>
            <option>ImmunoScreen® (IS)</option>
            <option>ProfilingScreen® (PF)</option>
            <option>PharmaScreen® (PS)</option>
            <option>CustomScreen™ (CS)</option>
            <option>Other</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleTextarea">Other test</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleTextarea">Additional comment</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>

    <!--
     <button type="submit" class="btn btn-primary">Submit</button>-->
</form>


<!--MY MODAL LOGIN -->
<div class="container">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-1">Submit</button>
    <div class="modal" id="modal-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dissmiss="modal"></button>
                    <h3 class="modal-title, text-center">Order Agreement</h3>
                </div>

                <div class="modal-body">


                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu urna ut mauris accumsan fermentum sed in sem. Suspendisse potenti. Fusce congue augue sed orci sagittis, ac imperdiet leo sodales. Sed egestas eget augue in lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque malesuada dignissim nisi vel consequat. Morbi maximus lorem in diam luctus viverra. Nam nec posuere magna. Proin hendrerit erat turpis, sollicitudin fringilla lectus efficitur lacinia. Donec nec enim nec mi pellentesque porttitor. Nullam accumsan ante ex. Curabitur suscipit ipsum in enim ultricies tincidunt. Phasellus non felis odio. Nulla a magna in tortor malesuada convallis. Integer in eleifend justo.
                    </p>

                    @using (Html.BeginForm("Orderconfirmation", "Home", FormMethod.Post))
                    {

                        <!--
                        <label>
                            <input type="checkbox"> I agree to the Terms and Conditions
                        </label>-->

                        <br />
                        <div align="center">
                            <button class="btn btn-danger" type="submit">I agree</button>
                        </div>

                    }


                </div>
            </div>
        </div>
    </div>
</div>
